/**.flexy{
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
}**/
.flexy{
	
}
.body{

display: block;
background-color: #22313F;
border-radius: 4.2px;
overflow: auto;

padding-top: 10px;
padding-bottom: 15px;
 border-color: gray;
 border-style: solid;
  border-width:1px;
  border-bottom-style: none;
  border-bottom-right-radius: 0px;
   border-bottom-left-radius: 0px;
 padding-left: 10px;
 padding-right: 10px;
 	background-image: url('../images/blueprint-dark.png');
	background-repeat: repeat;

/**slide menu**/

}

.footcommand{
	font-size: 12px;
	transition: width .2s;
	color:black;
	width: 40px;
	border-radius: 4px;
	background-color: #f7f7f7;
	position: absolute;
	right: 20px;
	color: black;
	font-weight: bold;
	padding: 2px;
}



.hiddenT{
	
	
	cursor: pointer;
	color: transparent;
	font-weight: bold;
	font-size: 12px;
	/**overflow: hidden;**/
	width: 0px;
	background-color: transparent;
	right: -170px;
	position: absolute;
	overflow: hidden;
	transition: width .2s;



}

.footcommand:hover{
width: 160px;
}

.footcommand:hover .hiddenT{
	right: 1px;
	color:black;
	width: 120px;
	top:inherit;


}

table{

	color: white;
	border-collapse: collapse;

}
td{
	white-space: nowrap;
	padding-top: 2px;
}
.git{
	
}

/** footer**/
.footer{

padding: 10px;
    overflow: hidden;
    color: #4E4B4B;
    background-color: #f7f7f7;

 border-color: gray;
 border-style: solid;
 border-width:1px;
 font:12px Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
   border-bottom-right-radius: 4.2px;
   border-bottom-left-radius: 4.2px;
   font-weight: bold;
}


.by{

	font-weight: normal;
}
.user-info{
	
}
/**end footer**/

.line-number{
	    border-right: solid #eee;
	     border-width: 0 1px 0 0;
	    text-align: right;
	    font-size: 12px;
    line-height: 18px;
    padding: 1px 10px;
    cursor:pointer;
}
.line-number:hover{
	color:#D0CDCD;
}
.line-number::before{
	content: attr(code-line);
}
.code-content{
padding: 1px 10px;
font-size: medium;
}
#line-of-code:hover{
	background-color:#636060;
}
/**highlter**/
.predefined-key{
color:#66D9EF;

}

.string{
color: #65b042;
}
.link{
	text-decoration: none;
	color: #4E4B4B;
}
